<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Index</title>
	</head>
	<body>
	
		<h1>Learning Springboot With HTML-User Application</h1>
		<form action="/api/account" method="post">
		<label for="firstname">AccountId:</label><br/>
		<input type="text" name="fname"/><br/>
		<label for="lastname">AccountHolderName:</label><br/>
		<input type="text" name="lname"/><br/>
		<label for="text">Balance:</label><br/>
		<input type="text" name="fname"/><br/>
		<button type="submit">Submit</button>
		</form>
	</body>
</html>